@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Raleway:wght@300;400;500;600;800&family=Roboto&display=swap');

 *{
     box-sizing: border-box;
     margin: 0;
}
 body{
     font-family: 'Raleway', sans-serif;
     padding: 0;
}
 h1,h2,h3,h4,h5{
    color: #555555;
     font-family: 'Raleway', sans-serif;
     padding: 0;
     margin: 0;
}
 p{
    color: #8c8c8c;
     margin: 0;
     font-family: 'Montserrat', sans-serif;
}
 ul{
     margin: 0;
     padding: 0;
}
 li{
     list-style-type: none;
}
 a{
     text-decoration:none;
}
 .container{
     max-width: 1230px;
}
.title-block{
    max-width: 760px;
    text-align: center;
    margin: 0 auto;
}
.title-block h2{
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px; 
}
.title-block p{
    font-size: 16px;
    line-height: 28px;
}
 .site-header{
 	padding: 30px 0;
     position: absolute;
     width: 100%;
     z-index:1;
}
.ban-btn{
    font-weight: 800;
    font-size: 14px;
    display: inline-block;
    padding: 15px 40px;
    color: #ffffff;
    border-radius: 6px;
    background-color: #998675;
    border-bottom: 3px solid #736357;
}
.ban-btn:hover{
    color: #ffffff;
    text-decoration:none;
}

 .site-header .container > .row{
     align-items: center;
}
.gradient-bg{
     background: linear-gradient(to right, #211b19 , #4e3427);
}
.card-wrapper{
    padding: 15px 0;
   
}
.card-wrapper{
   position: relative;
}
.cart-img{
    position: relative;
}
.card-wrapper:hover > .cart-img::before {
    content: '';
    position: absolute;
    left: 0;
    top:0;
    bottom:0;
    right:0;
    background-color: rgba(0,0,0,0.7);
    transition: .3s ease;
} 
.cart-img img{
   object-fit: cover;
    width: 100%;
    object-position: top left;
    
}
.card-content{
    padding: 25px 30px 25px ;
    position:   relative; 
}
.card-wrapper:hover > .card-content{
    background-color: #362f2d; 
}
.card-content h4{
    font-size: 20px;
    font-weight:500; 
}
.card-content p{
    font-size:14px;
    font-weight:300;
    line-height: 20px;
}

 .site-header .nav-wrap{
     width: 100%;
     margin: 0 auto;
}
 .site-header a{
     color: #ffffff;
     text-decoration: none;
     display: inline-block;
}
 .site-header a:hover{
     color: #c7b299;
}
 .site-header li{
     font-size: 14px;
     padding: 0 15px;
     display: inline-block;
}
 .site-header li:hover{
     color: #c7b299;
}
 .site-header .navigation{
     text-align: right;
     line-height:60px;
}
 .site-header .logo-img{
}
 .site-header .cta-btn a{
     padding: 0 10px;
}
 .main-banner{
 	margin: 0;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    position: relative;
}
.main-banner::before {
    content: '';
    position: absolute;
    left: 0;
    top:0;
    bottom:0;
    right:0;
    background-color: rgba(0,0,0,0.7);
}       
 .main-banner .banner-content{
     margin:0 auto;
     text-align: center;
     max-width: 600px;
}
 .main-banner p,h1{
     color:#ffffff;
}
/*.main-banner::before{
position: absolute;
 width: 100%;
 height: 100%;
 background-color: rgba(0,0,0,0.5);

}*/
 .main-banner .para-one{
     font-weight: 500;
     font-size: 36px;
     font-family: 'Raleway', sans-serif;
}
 .main-banner h1{
    padding-bottom: 10px;
     font-weight: 800;
     font-size: 52px;
}
 .main-banner .para-two{
 	padding-bottom: 30px;
     font-size: 16px;
     font-weight: 300;
     line-height: 24px;
}
 .main-banner .ban-btn{
 	display: inline-block;
    margin-top: 30px;
    padding: 15px 40px;
    color: #ffffff;
    border-radius: 6px;
    background-color: #998675;
    border-bottom: 3px solid #736357;
}
 .main-banner .ban-btn:hover{
     color:#ffffff;
     text-decoration: none;
}
.main-banner .scroll-dots{
	float: left;
	width: 100%;
	margin: 35px 0 0 ;
	padding: 0;
	text-align: center;
}
#slide .no-js .owl-carousel, .owl-carousel.owl-loaded {
    display: block;
    position: static;
}
#slide .owl-dots{
        position: absolute;
    left: 0;
    /* top: 0; */
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 40px;
}

#slide .owl-dot{
    border-radius: 50%;
     margin:  0 5px;
    background-color: #ffffff;
	height: 10px;
	width: 10px;
}
#slide .owl-dots .active{
        height: 14px;
        width: 14px;
        border:2px solid #d3c1ad;
        background-color: transparent;
}
#slide .owl-nav{
        display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    justify-content: space-between;
}

#slide .owl-dot:focus, .owl-next:focus, .owl-prev:focus {
  outline: none;
}
#slide .owl-nav button.owl-prev::after{
    content: '';
    position: absolute;
    background-image: url('../images/prev.png');
    height:73px;
    width:40px ;
    top: 50%;
    left: 152px;
    transform: translateY(-50%);
    background-position: center;
    background-repeat: no-repeat;
}
#slide .owl-nav button.owl-next::after{
    content: '';
    position: absolute;
    background-image: url('../images/forwd.png');
    height:73px;
    width:40px;
    top: 50%;
    right: 152px;
    transform: translateY(-50%);
    background-position: center;
    background-repeat: no-repeat;
}
#slide .owl-nav button span{
    display: none;
}
.feature-banner{

}
.feature-banner .feature-section{
    text-align: center;
}
.feature-banner .feature-img{

}
.feature-img-hover{
    display: none;
}

.feature-section:hover > .feature-block-image .feature-img-hover{
    display: block;
    margin: 0 auto;
}

.feature-section:hover > .feature-block-image .feature-img{
    transition: .3s ease;
    display: none;
    margin: 0 auto;
}
.feature-banner .feature-header{
    color: #555555;
    font-weight: 600;
    padding:15px 0 10px 0;
    font-size: 22px;

}
.feature-banner .feature-section .feature-para{
    font-weight:400; 
    line-height: 24px;
    font-size: 14px;
    padding:10px 0 30px 0;
    position: relative;
}
.feature-banner .feature-section:hover > .feature-block-content h3{
    transition: .3s ease;
    color: #c7b299;

}
.feature-banner .feature-section::after{
        content: '';
    position: absolute;
    width: 70px;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    bottom: 0;
    border-bottom: 5px solid #f1eee9;

}
.feature-banner .feature-section:hover::after{
     transition: .3s ease;
        content: '';
    position: absolute;
    width: 70px;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    bottom: 0;
    border-bottom: 3px solid #c7b299;

}
.feature-banner .feature-wrapper{
        color: #8c8c8c;
        padding: 80px 0;
}
.feature-banner .idea-block-wrapper{
    padding-top: 50px;
}
.feature-banner .title-block{
    padding-bottom: 15px;
}
.feature-banner .title-block h2{
    font-weight: 600;
    padding-bottom: 10px; 
}
.feature-banner .title-block p{
    line-height: 28px;
}
.feature-banner .image-overlap{
    padding-top: 15px;
    position: relative;

}
.feature-banner .image-overlap .img-center{
    text-align: center;
    bottom: 0;

}
.feature-banner .image-overlap .img-right{
    position: absolute;   
    right: 0; 
    bottom: 0;
    z-index: -1;
}
.feature-banner .image-overlap .img-left{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}
.feature-banner{


}
.feature-banner .theme-section .theme-content-block{
    padding:50px 0;
}
.feature-banner .theme-section .theme-content-block h2{
    font-size: 28px;
    font-weight:400;
    color: #ffffff

}   
.feature-banner .theme-section .theme-content-block p{
    font-weight:300;
    color:#615855;
    font-size: 18px;

}      
.feature-banner .ban-btn{
    padding: 15px 30px;
}
.feature-banner .ban-btn:hover{
    text-decoration: none;
    color: #ffffff;
}
.project-section{
    padding: 80px 0 60px 0;
}
.project-section .project-section-wrapper .title-block{
    padding-bottom: 20px;
    
}
.project-section .project-section-wrapper .title-block p{
    padding: 20px 0 18px 0;
    
}
.project-section .project-section-wrapper .title-block h2{
    padding: 0;
}

.project-section .project-btn{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-section .project-btn li{
    display: inline-block;
}
.project-section .project-btn a{
    border-radius: 5px;
    padding: 7px 20px;
    color:#8c8c8c;
    font-size: 14px;
    line-height:21px;
    font-weight: 300;
    display: inline-block;
    border: 1px solid #ebebeb;
}
.project-section .project-btn a:hover{
    text-decoration: none;
    
}
.project-section .project-btn .active a{
        color: #ffffff;
         background-color:#998675;
}
.project-section .project-btn a:hover{
        transition: .6s ease-in-out;
        color: #ffffff;
         background-color:#998675;
}
.project-section .project-img{
     padding: 20px 0;

}
/*.project-section .project-img .card-wrapper{
   position: relative;
}
.project-section .project-img .cart-img{
    position: relative;
}*/
/*.project-section .card-wrapper:hover > .cart-img::before {
    content: '';
    position: absolute;
    left: 0;
    top:0;
    bottom:0;
    right:0;
    background-color: rgba(0,0,0,0.7);
    transition: .3s ease;
} */      
.project-section .project-img .cart-img .overlay-icon {
   display:block;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: .6s;
}
.project-section .card-wrapper:hover .overlay-icon {
    top: 50%;
    opacity: 1;
    visibility: visible;
    transition: .6s;    
}
.project-section .link,.search{
    display: inline-block;
}
.project-section .project-img .cart-img .overlay-icon img{
    width: 25px;
    height: 25px;
}
.project-section .project-img .cart-img .overlay-icon a{
    padding: 0 10px;
}
 .project-section .project-img .cart-img .overlay-icon .link-hover-img,.search-hover-img {
    display: none;
}
.project-section .overlay-icon .link:hover .link-img{
    display:none;
}
.project-section .overlay-icon .link:hover .link-hover-img{
    display: block;
}
.project-section .overlay-icon .search:hover .search-img{
    display:none;
}
.project-section .overlay-icon .search:hover .search-hover-img{
    display: block;
}
.project-section .project-img .cart-img img{
    height: 235px;
}
.project-section .project-img .card-content::before {
      position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background:#ffffff;
    transform: rotate(45deg);
    top: -10px;
    left: 20px;
}
.project-section .project-img .card-wrapper:hover > .card-content::before {
     position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background: #362f2d;
    transform: rotate(45deg);
    top: -10px;
    left: 20px;
}
/*.project-section .card-wrapper:hover > .card-content{
    background-color: #362f2d; 
}*/
.project-section .project-img .card-content h4{ 
    color:#c7b299;
    padding-bottom: 10px;
}
.project-section .card-wrapper:hover > .card-content h4{
    color: #ffffff;
}
/*.project-section .project-img .card-content p{
    font-size:14px;
    font-weight:300;
    line-height: 20px;
}*/
.project-section .card-wrapper:hover >.card-content p{
    color:#c7b299;
}
.project-section .load-more-btn {
    margin: 30px auto 0 auto;
}
.video-section{
    position: relative;
}
.video-section .video-container{
    position: relative;

}
.video-section .video-container::before{
    content: '';
    position: absolute;
    left: 0;
    top:0;
    bottom:0;
    right:0;
    background-color: rgba(0,0,0,0.5);
}
.video-section .video-container .video-content{
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.video-section .video-content .title-block h2{
        color: #ffffff;
        font-weight:500;
        font-size:30px;
}
.video-section .video-content .title-block p{
        color: #ffffff;
        font-weight:300;
        font-size:16px;
        line-height: 28px;
}

.video-section .banner-video {
    height: 700px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.video-section .play-btn {
        margin-bottom: 35px;
    display: inline-block;
    padding: 15px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.5);

}
.device-section{
    padding-top: 75px;
}
.device-section .device-section-content{
        transform: translateY(30%);
}
.device-section .device-section-content h3{
    padding-bottom: 15px;
    font-weight: 600;
    font-size: 30px;
}
.device-section .device-section-content p{
    font-weight: 300;
    padding: 15px 0;
    line-height: 28px;
}
.device-section .device-section-content ul{
    padding: 15px 0 0 50px;
}
.device-section .device-section-content ul li{
    padding-left: 40px;
    position: relative;
    color: #8c8c8c;
    line-height: 32px;
}
.device-section .device-section-content ul li::before{
    content: '';
    position: absolute;
    background-image: url('../images/arrow-point-to-right.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 21px;
    width: 21px;
    bottom: 6px;
    left: 0;
}
.counter-section{
    padding: 60px 0;
    text-align: center;
}
.counter-section .counter-img{
        padding-bottom: 10px;
}
.counter-section .counter-wrapper{
    position: relative;
}
.counter-section .counter-content{
    padding: 10px 0;
}
.counter-section .counter-content::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 30px;
    left: 50%;
    bottom:0;
    transform: translateX(-50%);
    background-color: #ffffff;
}
.counter-section h4{
    padding: 10px 0;
    color: #ffffff;
    line-height: 36px;
    font-weight: 200;
    font-size: 48px;
}
.counter-section p{
    padding: 10px 0 25px 0;
     text-transform: uppercase;
    color: #c7b299;
    font-weight:300;
    font-size: 14px;
    line-height: 20px;
}
.post-section{
    padding: 80px 0;

}
.post-section .card-wrapper{
    padding: 0;
}
.post-section #post-slide{
    padding: 40px 0;
}
.post-section #post-slide .item{
    padding: 0 15px;
}
#post-slide .owl-nav button.owl-prev::after{
    content: '';
    position: absolute;
    background-image: url(../images/post-left.png);
    height: 22px;
    width: 22px;
    left: 49%;
    transform: translateX(-49%);
    background-position: center;
    background-repeat: no-repeat;
}
#post-slide .owl-nav button.owl-next::after{
   content: '';
    position: absolute;
    background-image: url(../images/post-right.png);
    height: 22px;
    width: 22px;
    right: 49%;
    transform: translateX(49%);
    background-position: center;
    background-repeat: no-repeat;
}
#post-slide .owl-nav button span{
    display: none;

}
#post-slide .owl-nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-section .cart-img img{
   height: 220px;
    
}
.post-section .cart-img {
    position: relative;
}
.post-section .date-wrapper{
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: 40px;
    left: 20px;
}
.post-section .date-wrapper .date{
    line-height: 40px;
    padding: 0 12px;
    font-size: 24px;
    font-weight: 300;
    background-color: #363636;
    color: #ffffff;
   
}
.post-section .date-wrapper .month{
    font-family: 'Roboto', sans-serif !important;
    line-height: 20px;
    padding: 0 12px;
    font-size: 12px;
    color: #ffffff;
    font-weight: 400;
    background-color: #252525;
        
}
.post-section .card-wrapper:hover > .date-wrapper .date{
   background-color: #c7b299;
}
.post-section .card-wrapper:hover > .date-wrapper .month{
   background-color: #a48d72;
}
.post-section .card-wrapper .card-content h4{

}
.post-section .card-wrapper .card-content a{
    color:#c7b299;
}
.post-section .card-wrapper .card-content p{
    padding: 15px 0 20px 0;
    font-weight: 300;
}
.post-section  .card-content a:hover{
    text-decoration: none;
    color:#c7b299;
}
.post-section .card-wrapper:hover > .card-content h4,a.card-content{
    color:#c7b299;
}
.post-section .card-wrapper:hover >.card-content p{
    color: #ffffff;
}
.portfolio-section{
    padding: 70px 0;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.portfolio-section .portfolio-wrapper{
    padding: 70px 0;
}
.portfolio-section .portfolio-wrapper::before{
     content: '';
    position: absolute;
    left: 0;
    top:0;
    bottom:0;
    right:0;
    background-color: rgba(0,0,0,0.7);

}
.site-footer-wrapper{
    padding:80px 0;
}
.site-footer{
    color: #555555;
    background-color:  #191919;
} 
.site-footer .foot-header{
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    padding: 20px 0 10px 0; 
}
.site-footer .logo-content-wrapper{
    padding-bottom: 80px;
}
.site-footer .ft-logo{
    padding: 0 0 15px 0;
}
.site-footer .logo-content{
    padding: 15px 0;
}
.site-footer .logo-content-wrapper a{
    text-decoration: none;
    color: #ffffff;
}
.recent-post {
    border-bottom: 1px solid #555555;
    padding: 10px 0 15px 0;
}
.site-footer .date-time{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    padding: 5px 0;
}
.site-footer p{
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #555555;

}
.site-footer .recent-post:hover > p{
    color: #c7b299;
}
.site-footer .recent-post:hover > .date-time{
    color: #ffffff;
}
.site-footer .ft-link{
    color: #02afdf;
    text-decoration: none;
}
.site-footer .ft-url{
    color: #575757;
}
.site-footer .foot-img-wrapper{
    display: flex;
}
.site-footer .foot-img{
    width: 50%;
    padding: 5px 5px;
}
.site-footer .foot-img img{
    width: 100%;
    object-fit: cover;
    object-position: bottom right;
}
.site-footer .wht-color{
    color: #888888;
}
.site-footer .copy-right{
    font-size: 13px;
    background-color: #111111;
    padding: 45px 0;
    display: flex;
    justify-content: center;
}
.site-footer .copy-right ul li{
    padding: 0 10px; 
    display: inline-block;
}
.site-footer a{
    color:#555555;
}
.site-footer .copy-right a:hover{
    text-decoration: none;
    color:#c7b299;
}
.site-footer .copy-right ul li:nth-child(n+2){
     border-left: 1px solid #555555;
}